---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SOCIAL_DESCRIPTION } from '../consts';
import Devlog from '../components/Devlog.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} socialDescription={SOCIAL_DESCRIPTION}/>
	</head>
	<body>
		<Header />
		<main>
			<HeroBanner />
			<Devlog />
		</main>
		<Footer />
	</body>
</html>
