---
import '../styles/heroBanner.css'
---

<div id="hero-banner">
  <div class="hero-content">
    <div class="hero-head">
      <h1 class="headline">Enter the Shadows Of Duskvale</h1>
      <p class="slogan">Unravel the mysteries of a world where darkness holds all the secrets.</p>
    </div>
    <div class="hero-body">
      <p class="invitation"><b>Follow the journey</b> - Join our Discord to be part of <b>Duskvale's</b> story from the start, with exclusive updates and be the first to know when early access begins!</p>
      <a class="btn-discord" href="https://discord.gg/ug8mqt3qGy" target="_blank">Join The Discord</a>
    </div>
  </div>
</div>